
@{
    ViewBag.Title = "AdminIndex";
}

<h2>Admin Side</h2>
<body>
    <div class="form-horizontal">
        <div>
            <a href="/Tog/NyStasjon" class="btn btn-VY btn-10margin">Legg til ny stasjon</a>
        </div>
        <div>
            <a href="/Tog/AdminBestill" class="btn btn-VY btn-10margin">Endre bestillinger</a>
        </div>
        <div>
            <a href="/Tog/AdminStasjon" class="btn btn-VY btn-10margin">Endre stasjoner</a>
        </div>
        <div>
            <a href="/Tog/EndrePris" class="btn btn-VY btn-10margin">Endre pris</a>
        </div>
    </div>
</body>

