<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="C:\Users\joste\OneDrive\Dokumenter\Logging\internal_log_file.log">

  <targets>
    <!-- local file target -->
    <target name="file"
              xsi:type="File"
              fileName="${basedir}/logg-til-fil.log"
            
              layout="
-------------- ${level} (${longdate}) --------------${newline}
Kilde Metode: ${callsite}${newline}
Log-Info: ${message}${newline}
Error: ${exception:format=message}${newline}" />
  </targets>


  <rules>
    <!-- local file logger -->
    <logger minlevel="Info" name="fileLogger" writeTo="file"/>
    <logger minlevel="Error" name="fileLogger" writeTo="file"/>
  </rules>
  
</nlog>