@model List<Oblig_2.Model.Stasjon>

@{
    ViewBag.Title = "Stasjoner";
}

<h2>Stasjoner</h2>

<body>
    <div id="stasjoner-oversikt">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].navn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].sone)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.navn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sone)
                    </td>
                </tr>
            }
        </table>
        <div class="form-horizontal">
            <div>
                <a href="/Tog/Tilbake" class="btn btn-VY">Tilbake </a>
            </div>
        </div>
    </div>
</body>